{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ],
    "./babel-plugin-theme",
    [
      "emotion", {
        "sourceMap": false,
        "hoist": false,
        "autoLabel": true,
        "extractStatic": true
      }
    ]
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
