.chapter__wrapper {
  margin-top: 50vh;

  .chapter {
    max-width: $max-width;
    margin: 0 auto;

    .post__meta {
      background: rgba(0,0,0,0.01);
      padding: 0.5em;
    }

    .post__meta > * {
      margin-right: 1em;
    }
  }

  @media screen and (min-width: 1150px) {
    .post__content {
      /* XXX: force min height to avoid cropping with the footer. not ideal */
      min-height: 150%;
    }
  }
}
