.frontpage {
  .front__buttons {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: $base-spacing-unit;
    > .btn {
      margin: 0 $half-spacing-unit;
      margin-bottom: $base-spacing-unit;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      @include media-query(palm) {
        width: calc(100% - #{$base-spacing-unit * 2});
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .front-button-wrapper {
    margin-top: calc(0.6rem + 0.5vh + 1vw);
    color: white;

    font-family: "Avenir Next", "Helvetica Neue", sans-serif;

    .btn--buy-main {
      display: inline-block;
      padding: 0.25em;
      padding-left: 0.75em;
      padding-right: 0.75em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      color: black;
      background-color: rgba(255, 255, 255, 0.9);
      &:hover {
        background-color: white;
      }
    }

    .buy-or {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }

  .front-text-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .front-motto {
    margin-top: calc(1rem + 0.5vh + 1vw);
    margin-bottom: 0;
    font-size: 20px;
    color: darken(white, 20%);
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  }

  .front__heading {
    background: #323232;
    background-image: url("../assets/img/headers/front.jpg");
    background-size: cover;
    // Same as in PageHeading
    height: calc(22vh + 6vw);
    min-height: 260px;
  }

  .front-header-wrapper {
    height: inherit;
    max-width: 1400px;
    min-height: inherit;
    margin: 0 auto;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .react-image {
    margin-left: $space-m;
    width: 100px;
    height: 100px;
    float: right;
  }

  .kanban-animation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .post--front {
    max-width: 1000px;
    padding: 0 $space-m;
  }

  @include media-query(portable) {
    .read-free {
      margin-top: 0.5em;
      display: inline-block;
    }
  }

  .author-photo {
    clear: both;
    float: right;
    margin-left: 0.5em;
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }

  .btn-group {
    display: grid;
    grid-gap: $space-m;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .btn--buy {
    display: inline-block;
    text-align: center;
  }

  .front__testimonials {
    display: flex;
    flex-wrap: wrap;
    padding: $space-m;
    background: #d6f5f7;
  }

  .testimonial {
    flex: 1;
    min-width: 320px;
    padding: $space-m;
    font-size: $deci-size;
    font-family: $small-font;

    .text-wrapper {
      position: relative;
      padding: $space-m;
      padding-bottom: $space-l;
      min-height: 10em;
      background: $background-color;
      border: 2px solid $background-alt-color;
      border-radius: 6px;

      &:after {
        content: "”";
        position: absolute;
        right: $space-m;
        bottom: 0;
        color: $quiet-font-color;
        font-family: $body-font;
        font-size: $h1-size;
      }
    }
    .photo-wrapper {
      text-align: center;

      .photo {
        position: relative;
        border: 2px solid $quiet-font-color;
        margin-top: -25px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .name-wrapper {
      text-align: center;
    }

    .title-wrapper {
      text-align: center;
      font-size: $centi-size;
      font-style: italic;
    }
  }
}
