.frontpage {
  .front__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: $base-spacing-unit;
    > .btn {
      margin: 0 $half-spacing-unit;
      margin-bottom: $base-spacing-unit;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      @include media-query(palm) {
        width: calc(100% - #{$base-spacing-unit * 2});
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .front-button-wrapper {
    margin-top: 2em;
    color: white;

    font-family: "Avenir Next", "Helvetica Neue", sans-serif;

    .btn--buy {
      margin-bottom: 0.5em;

      color: black;
      background-color: rgba(255, 255, 255, 0.9);
      &:hover {
        background-color: white;
      }
    }
  }

  .front-header-wrapper {
    margin-top: 6em;
    margin-bottom: 2em;
    margin-right: 6em;

    h1 {
      color: darken($action-color, 30%);
      margin-bottom: 1em;
    }

    h3 {
      margin-bottom: 0;

      font-size: 1em;
      text-align: left;
      color: darken(white, 20%);
    }
  }

  .front-text-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .front-header, .front-motto {
    color: white;
    margin-bottom: 0.5em;
  }

  .front-header {
    margin-top: 0;
    margin-bottom: 0;
  }

  .front-motto {
    margin-top: 0;
  }

  .front__heading {
    background: #323232;
    text-align: center;
    min-height: 400px;
    height: 60%;
  }

  .react-image {
    margin-left: 1em;
    margin-right: 1em;
    width: 100px;
    height: 100px;
    float: right;
  }

  .kanban-image {
    height: initial;
  }

  .front-cover {
    width: 255px;
    box-shadow: 0 0.5em 1em 0.02em rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-bottom: -4em;
  }

  .post--front {
    width: auto;
  }

  .post__sidebar {
    margin: 1em;
  }

  .kanban-animation {
    max-width: auto;
    width: auto;
    height: auto;
  }

  @media screen and (min-width: 1150px) {
    .front-cover {
      margin-top: 1em;
    }

    .post--front {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .post__content {
      margin-right: 2em;
    }
    .post__sidebar {
      max-width: 250px;
      flex: 1 0 250px;
      font-size: 80%;

      ul > li:before {
        content: '';
      }
    }
  }

  .front-cover-wrapper {
    vertical-align: middle;

    @include media-query(portable) {
      /* XXX */
      .front-cover {
        display: none;
      }
    }
  }

  @include media-query(palm) {
    .front-header-wrapper {
      max-width: 100%;
      margin: 0;
      padding: 1em;
    }
  }

  .author-photo, .testimonial-photo {
    clear: both;
    float: right;
    margin-left: 0.5em;
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }
}
