.page {
  .latestpost {
    margin-top: 0;
  }

  .author {
    float: right;
    margin-left: $space-m;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

.page__container {
  display: flex;
}

@include media-query(palm) {
  .page__container {
    display: block;
  }
}

.page__main {
  max-width: $max-width;
  margin: 0 auto;
  padding: $space-l;

  > * {
    @include media-query("palm") {
      @include font-size(16px);
    }
  }

  // TODO: push to _table.scss?
  table {
    margin-top: 1em;
    margin-bottom: 1em;

    td {
      padding: 0.5em;
    }
  }

  img {
    max-width: 100%;
  }

  .inline-img {
    width: 100%;
    left: auto;
  }
}

.page__section {
  margin-bottom: $space-xl;
}
