$toc-link-height: 32px;

.page {
  margin-top: 48vh;

  .latestpost {
    margin-top: 0;
  }

  .author {
    float: right;
    margin-left: $space-m;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

.page__heading {
  padding: 0 $space-l;
  line-height: 1;
}

@media screen and (min-width: 1150px) {
  .page__heading {
    font-size: 54px;
  }
}

.page__container {
  display: flex;
}

.page__sidebar-container {
  display: block;
}

.page__sidebar-show,
.page__sidebar-checkbox {
  display: none;
}

.page__sidebar {
  max-width: 350px;
  padding: $space-l;
  background: rgba(0, 0, 0, 0.01);
}

@include media-query(lap) {
  .page__sidebar {
    max-width: 250px;
  }
}

@include media-query(palm) {
  .page__container {
    display: block;
  }

  .page__sidebar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $toc-link-height;
    z-index: 100000;
  }

  .page__sidebar-show {
    position: relative;
    display: block;
    width: 100%;
    height: $toc-link-height;
    text-align: center;
    line-height: $toc-link-height;
    color: darken($action-color, 30%);
    background: $background-color;
    font-family: $small-font;
    font-size: $deci-size;
    border: 0;
    z-index: 100001;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
  }

  .page__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    text-align-last: left;
    background: $background-color;
    overflow: auto;
    transform: translateY(100%);
    opacity: 0;
    transition: all $transition-easing $transition-speed;
  }

  .page__sidebar-checkbox:checked + .page__sidebar {
    transform: translateY(0);
    opacity: 1;
  }
}

.page__main {
  max-width: $max-width;
  margin: 0 auto;
  padding: $space-l;

  > * {
    @include media-query("palm") {
      @include font-size(16px);
    }
  }

  // TODO: push to _table.scss?
  table {
    margin-top: 1em;
    margin-bottom: 1em;

    td {
      padding: 0.5em;
    }
  }

  img {
    max-width: 100%;
  }

  .inline-img {
    width: 100%;
    left: auto;
  }
}

.page__section {
  margin-bottom: $space-xl;
}
