.post__wrapper {
  margin-top: 50vh;

  .post {
    align-self: center;
    width: $max-width;
    max-width: 100vw;
    padding: 0 $base-spacing-unit;
    margin-bottom: $base-spacing-unit * 3;
    @include media-query('palm') {
      padding: 0;
    }
  }
  .post__content {
    margin: 0 auto;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    div,
    pre,
    blockquote,
    form {
      @include media-query('palm') {
        padding: 0 $half-spacing-unit;
      }
    }

    img {
      width: 90vw;
      position: relative;
      @include media-query($max-width) {
        width: 100vw;
      }
    }

    > * {
      @include media-query('palm') {
        @include font-size(16px);
      }
    }
    .inline-img {
      width: 100%;
      left: auto;
    }

    .author {
        float: right;
        margin-left: 0.5em;
        border-radius: 50px;
        width: 100px;
        height: 100px;

        img {
          position: inherit;
        }
      }
  }

  .post__heading {
    line-height: 1;

    @include media-query('palm') {
      padding: 0 $half-spacing-unit;
    }
  }

  .post__author,
  .post__moment {
    margin-bottom: $base-spacing-unit;
    // padding: 0 $base-spacing-unit;
    @include media-query('palm') {
      padding: 0 $half-spacing-unit;
    }
  }
  .post__author {
    @extend time;
  }
}
