blockquote {
  // Should match Tip component
  margin-bottom: $space-l;
  padding: $space-s $space-m;
  font-size: $base-font-size;
  font-style: normal;
  background: $background-tip-color;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;

  code {
    color: $font-color;
  }

  p:last-child {
    margin: 0;
  }

  &.warning {
    background-color: $background-warning-color;
  }
}
