.buy-container {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 2em;

  .sidebar-cover {
    max-width: 100%;
    height: auto;
  }

  .btn--buy {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
  }

  .buy-buttons a {
    display: block;
  }
}
