footer .footer-wrapper {
  background: #fafafa;
  background-image: url('../assets/img/dust.png');
  overflow: auto;

  padding-bottom: 1em;

  .footer-content-wrapper {
    margin: 0 auto;
    width: 75%;
  }
  @include media-query(portable) {
    .footer-content-wrapper {
      width: 100%;
    }
  }

  .footer-social {
    float: left;

    margin-left: 2em;

    ul {
      margin: auto;
    }
  }

  .footer-blog {
    float: left;
    max-width: 75%;

    margin-left: 2em;

    ul {
      margin: auto;
    }
  }
}
