.leanpub-insert, .leanpub-delete {
  line-height: initial;
}

.leanpub-insert {
  display: inline-block;
  font-weight: bold;
}

.leanpub-delete {
  display: inline-block;
  text-decoration: line-through;
}
