.new-prevnext {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $space-xl;
}

.new-prevnext__next,
.new-prevnext__prev {
  flex-basis: 300px;
  flex-grow: 1;
}

.new-prevnext__next {
  padding-left: $space-m;
  text-align: right;
}

.new-prevnext__prev {
  padding-right: $space-m;
}

.new-prevnext__title {
  margin-bottom: $space-xxs;
  font-weight: bold;
}

.new-prevnext__link {
  display: block;
  position: relative;
}

.new-prevnext__link::before {
  font-family: $heading-font;
  position: absolute;
  margin-top: 0.15em;
}

.new-prevnext__prev .new-prevnext__link::before {
  content: "←";
  left: -1.2em;
}

.new-prevnext__next .new-prevnext__link::before {
  content: "→";
  right: -1.2em;
}
