.social-links {
  margin-bottom: 3em;
}

.social-links__header {
  margin-top: 0;
}

.social-links__tip {
  margin-top: 0.5em;
}

.social-form__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-form__input-container {
  flex-grow: 1;
  margin-right: 0.5em;
}

.social-form__input {
  display: block;
  width: 100%;
}

.social-form__subscribe {
  line-height: 2em;
  background-color: #fefefe;
}

.social-form__subscribe:hover {
  background-color: #eee;
}
