.social-links .subscribe-header {
  margin: 0;
}
.social-form {
  .social-input-container, .social-subscribe-container {
    display: inline;

    margin-left: 1em;
  }

  .social-subscribe-container input:hover {
    background-color: #eee;
  }
}
