/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	position: relative;
	margin: .5em 0;
	-webkit-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
	-moz-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
	box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
	border-left: 10px solid #358ccb;
	background-color: #fdfdfd;
	background-image: -webkit-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-image: -ms-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-image: -o-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	overflow: visible;
	max-height: 30em;
}

code[class*="language"] {
	max-height: inherit;
	height: 100%;
	padding: 0 1em;
	display: block;
	overflow: auto;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #fdfdfd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	position: relative;
	padding: .2em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	border-radius: 0.3em;
	color: #c92c2c;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
	content: '';
	z-index: -2;
	display: block;
	position: absolute;
	bottom: 0.75em;
	left: 0.18em;
	width: 40%;
	height: 20%;
	-webkit-box-shadow: 0px 13px 8px #979797;
	-moz-box-shadow: 0px 13px 8px #979797;
	box-shadow: 0px 13px 8px #979797;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
	right: 0.75em;
	left: auto;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7D8B99;
}

.token.punctuation {
	color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: #1990b8;
}

.token.regex,
.token.important {
	color: #e90;
}

.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

.token.important {
	font-weight: normal;
}

.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.namespace {
	opacity: .7;
}

@media screen and (max-width: 767px) {
	pre[class*="language-"]:before,
	pre[class*="language-"]:after {
		bottom: 14px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
	padding-left: 0;
}

pre[class*="language-"].line-numbers code {
	padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
	left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
pre[data-line] code {
	position: relative;
	padding-left: 4em;
}
pre .line-highlight {
	margin-top: 0;
}/*!
 * "Fork me on GitHub" CSS ribbon v0.1.1 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

/* Left will inherit from right (so we don't need to duplicate code) */
.github-fork-ribbon {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #a00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  /* Set the font */
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;

  z-index: 9999;
  pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the text properties */
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need
     to tweak the top and right values in .github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.left {
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: 42px;
  left: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 80px;
  right: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}@charset "UTF-8";[hidden],html:after{display:none}dfn,img{font-style:italic}a,ins,u{text-decoration:none}.section-heading,h1,h2,h3,h4,h5,h6,li,p,pre{margin-bottom:27px}.grid,.nav,main{width:100%}.btn,a,a:active,a:focus,a:hover{outline:0}.post-list,ul{list-style:none}html:after{content:"js-breakpoints-getComputedStyleTest"}.fadeIn-enter{opacity:.01;-webkit-transform:translateX(-20px);transform:translateX(-20px);transition:all .5s ease-in}.fadeIn-enter,.fadeIn-leave{-webkit-transition:all .5s ease-in}.fadeIn-enter.fadeIn-enter-active{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}.fadeIn-leave{opacity:1;-webkit-transform:translateX(-20px);transform:translateX(-20px);transition:all .5s ease-in}.fadeIn-leave.fadeIn-leave-active{-webkit-transform:translateX(200px);transform:translateX(200px);opacity:.01}*,:after,:before{box-sizing:border-box}blockquote,caption,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,hr,legend,ol,p,pre,table,td,th,ul{margin:0;padding:0}abbr[title],dfn[title]{cursor:help}ins{border-bottom:1px solid}img{border:0}button,input,label,option,select,textarea{cursor:pointer}.text-input:active,.text-input:focus,textarea:active,textarea:focus{cursor:text;outline:0}/*! normalize.css v2.1.0 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}body{margin:0;background-color:#fff}h1{margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}hr{box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap;overflow-y:auto}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}.btn,h1,h5{text-transform:uppercase}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=radio],input[type=checkbox]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}.cf:after,.clearfix:after{content:"";display:table;clear:both}body:after{display:none}@media only screen and (min-width:1650px){body:after{content:'media-query-desk-wide'}}@media only screen and (min-width:1350px){body:after{content:'media-query-desk'}}@media only screen and (max-width:desk){body:after{content:'media-query-desk'}}@media only screen and (max-width:1349px){body:after{content:'media-query-portable'}}@media only screen and (max-width:portable){body:after{content:'media-query-portable'}}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font:1.125em/1.5 Lora,Merriweather,Georgia,serif;line-height:27px;font-weight:400}.em,.italic,blockquote{font-style:italic}body,button,input{color:#222;-webkit-font-smoothing:antialiased}::selection{background:#5bbac3;color:#fff}::-moz-selection{background:#5bbac3;color:#fff}h1,h2,h3,h4,h5,h6{font-family:"Avenir Next","Helvetica Neue",sans-serif;color:#222;font-weight:600;margin-top:27px}h1,h2{font-size:1.5vw;font-weight:700}h1,h2,h3{text-rendering:optimizeLegibility}h1{margin-top:54px}@media (max-width:1990.656px){h1{font-size:29.86px}}@media (max-width:1658.88px){h2{font-size:24.88px}}h3,h4{font-size:1.5vw}@media (max-width:1382.4px){h3{font-size:20.74px}}@media (max-width:1152px){h4{font-size:17.28px}}h5{font-size:1.5vw;margin-bottom:0}@media (max-width:960px){h5{font-size:14.4px}}code,pre{font-family:"Input Sans Narrow","Source Code Pro","Input Sans",Inconsolata,monospace;font-weight:400;background-color:#eee;border-radius:7px;padding:6.75px;font-size:13px;font-size:.72222rem;line-height:2.07692}.btn,.centi,.docs-nav__link,.draft-text,.front__latestpost,.micro,.milli,.post__author,.prevnext__next,.prevnext__prev,.small,.tiny,time{font-family:"Avenir Next","Helvetica Neue",sans-serif}@media only screen and (max-width:549px){body:after{content:'media-query-palm'}pre{border-radius:0}}@media only screen and (max-width:palm){body:after{content:'media-query-palm'}pre{border-radius:0}}pre>code{display:block;padding:0}blockquote{font-size:20.74px;padding:27px 0;color:#8f8f8f}.section-heading{margin-top:54px}.beefcake,.strong{font-weight:700}.weak{font-weight:300}.bigger{font-size:20.74px;font-size:1.152rem;line-height:1.30208;line-height:40.5px}.centi,.draft-text,.prevnext__info{font-size:13px;line-height:2.07692}.centi{font-size:.72222rem}.milli,.small{font-size:11px;font-size:.61111rem;line-height:2.45455}.micro,.tiny{font-size:10px;font-size:.55556rem;line-height:2.7}.quiet{color:#919191}.one-line{line-height:27px}.two-lines{line-height:54px}.three-lines{line-height:81px}.nav__link,.post__author,time{font-size:15px;line-height:1.8}.post__author,time{color:#999;font-size:.83333rem}.grid{max-width:700px;padding:0 27px;-webkit-align-self:center;-ms-flex-item-align:center;align-self:center}a{color:#09b5c4}a:hover{color:#0de1f3}ul>li:before{content:'- ';position:absolute;margin-left:-1em}@media only screen and (max-width:754px){li{margin-left:1em}}article,div,main,nav,section{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:center;-ms-flex-line-pack:center;align-content:center}.docs-nav,.nav,.post__meta{-webkit-box-direction:normal;-webkit-box-orient:horizontal}.main-content{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.post__meta{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}.nav__wrapper{position:fixed;bottom:0;left:0;right:0;pointer-events:none;z-index:100}.nav{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;background:-webkit-linear-gradient(bottom,#fff 0,#fff 35%,rgba(255,255,255,0) 100%);background:linear-gradient(to top,#fff 0,#fff 35%,rgba(255,255,255,0) 100%);z-index:5;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;padding-top:54px;-webkit-backface-visibility:hidden;backface-visibility:hidden}@media only screen and (max-width:549px){.nav__wrapper{bottom:auto;top:0}.nav{-webkit-transform:translateY(-100%);transform:translateY(-100%);opacity:0;background-color:#fff;-webkit-transition:all cubic-bezier(.23,1,.32,1) .3s;transition:all cubic-bezier(.23,1,.32,1) .3s;pointer-events:all}.nav__toggle:checked~.nav{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);box-shadow:0 0 8px rgba(0,0,0,.1)}}@media only screen and (max-width:palm){.nav__wrapper{bottom:auto;top:0}.nav{-webkit-transform:translateY(-100%);transform:translateY(-100%);opacity:0;background-color:#fff;-webkit-transition:all cubic-bezier(.23,1,.32,1) .3s;transition:all cubic-bezier(.23,1,.32,1) .3s;pointer-events:all}.nav__toggle:checked~.nav{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);box-shadow:0 0 8px rgba(0,0,0,.1)}}.nav__link,.nav__toggle-label{text-transform:uppercase;letter-spacing:4px;font-weight:600;pointer-events:all;font-family:"Avenir Next","Helvetica Neue",sans-serif}.nav__link{display:inline-block;padding:6.75px 27px;-webkit-transition:color cubic-bezier(.23,1,.32,1) .3s;transition:color cubic-bezier(.23,1,.32,1) .3s;font-size:.83333rem}.nav__link:hover{color:#0bcbdc}@media only screen and (max-width:549px){.nav__link{text-align:center;width:100%}}@media only screen and (max-width:palm){.nav__link{text-align:center;width:100%}}.nav__toggle{display:none}.nav__toggle-label{display:none;width:54px;height:54px;border-radius:50%;text-align:center;color:#09b5c4;padding:13.5px 0;position:absolute;top:0;right:0;z-index:100;background-color:#fff}.nav__toggle-label:before{top:21px}.nav__toggle-label:after{top:33px}.nav__toggle-label:after,.nav__toggle-label:before{content:'';width:27px;height:3px;background-color:#09b5c4;border-radius:3px;position:absolute;left:calc(50% - 13.5px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:-webkit-transform .3s cubic-bezier(.23,1,.32,1) 0s,top .3s cubic-bezier(.23,1,.32,1) .3s;transition:transform .3s cubic-bezier(.23,1,.32,1) 0s,top .3s cubic-bezier(.23,1,.32,1) .3s}.nav__toggle:checked~.nav__toggle-label:after,.nav__toggle:checked~.nav__toggle-label:before{-webkit-transition:-webkit-transform .3s cubic-bezier(.23,1,.32,1) .3s,top .3s cubic-bezier(.23,1,.32,1) 0s;transition:transform .3s cubic-bezier(.23,1,.32,1) .3s,top .3s cubic-bezier(.23,1,.32,1) 0s}.nav__toggle:checked~.nav__toggle-label:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);top:27px}.nav__toggle:checked~.nav__toggle-label:before{-webkit-transform:rotate(45deg);transform:rotate(45deg);top:27px}@media only screen and (max-width:549px){.nav__toggle-label{display:block}}@media only screen and (max-width:palm){.nav__toggle-label{display:block}}.docs-nav__wrapper{display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;width:auto;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}.docs-nav,.docs-nav__wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;-webkit-align-content:flex-start}@media only screen and (min-width:1150px){.docs-nav__wrapper{padding:27px;position:fixed;left:0;top:13.5px}}@media only screen and (max-width:549px){.docs-nav__wrapper{padding:0 13.5px}}@media only screen and (max-width:palm){.docs-nav__wrapper{padding:0 13.5px}}.btn,.post{padding:0 27px}.docs-nav{max-width:100%;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}@media only screen and (min-width:1150px){.docs-nav{max-width:225px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-top:13.5px}}@media only screen and (max-width:550px){.docs-nav{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}}.docs-nav--header{margin-bottom:0}.docs-nav__link{font-size:15px;margin-right:27px;margin-bottom:.3em;line-height:1.5}.docs-nav__wrapper--push-down{margin-top:73vh}.docs-nav__wrapper--push-down+.header-image+.post__heading+.post__content{margin-top:0}@media only screen and (min-width:1150px){.docs-nav__wrapper--push-down{position:absolute}.docs-nav__wrapper--push-down+.header-image+.post__heading+.post__content{margin-top:73vh}}.btn{letter-spacing:.05em;font-weight:700;-webkit-appearance:none;-webkit-appearance:normal;background-color:transparent;border-radius:100px;font-size:17.28px;line-height:50px;-webkit-transition:background-color cubic-bezier(.23,1,.32,1) .3s,color cubic-bezier(.23,1,.32,1) .3s;transition:background-color cubic-bezier(.23,1,.32,1) .3s,color cubic-bezier(.23,1,.32,1) .3s}.btn--normal{border:2px solid #6EEDF8;color:#6EEDF8}.btn--normal:hover{background-color:rgba(110,237,248,.2)}.btn--inverted{border:2px solid #fff;color:#fff}.btn--inverted:hover{background-color:#fff;color:#09b5c4}.post{-ms-flex-item-align:center;align-self:center;width:700px;max-width:100vw;margin-bottom:81px}.flex-center,.post{-webkit-align-self:center}@media only screen and (max-width:palm){.post{padding:0}}.post__content{margin:0 auto;position:relative}.post__content div,.post__content h1,.post__content h2,.post__content h3,.post__content h4,.post__content h5,.post__content h6,.post__content ol,.post__content p,.post__content pre,.post__content ul{width:646px;max-width:100vw}.header-image,.post__content .prevnext,.post__content .prevnext__bg,.post__content .prevnext__next,.post__content .prevnext__prev,.post__heading{max-width:100%}.post__content img{width:90vw;position:relative;left:calc(-45vw + 50%)}@media only screen and (max-width:700px){.post__content img{width:100vw;left:calc(-50vw + 50%)}}.post__content .inline-img{width:100%;left:auto}@media only screen and (max-width:549px){.post{padding:0}.post__content div,.post__content h1,.post__content h2,.post__content h3,.post__content h4,.post__content h5,.post__content h6,.post__content ol,.post__content p,.post__content pre,.post__content ul{padding:0 13.5px}.post__content>*{font-size:16px;font-size:.88889rem;line-height:1.6875}.post__heading{padding:0 13.5px}}@media only screen and (max-width:palm){.post__content div,.post__content h1,.post__content h2,.post__content h3,.post__content h4,.post__content h5,.post__content h6,.post__content ol,.post__content p,.post__content pre,.post__content ul{padding:0 13.5px}.post__content>*{font-size:16px;font-size:.88889rem;line-height:1.6875}.post__heading{padding:0 13.5px}}.header-image{height:78vh;z-index:300;filter:brightness(.4);backface-visibility:hidden}.header-image,.header-image+.post__heading{position:absolute;width:100vw;-webkit-backface-visibility:hidden}.header-image,.prevnext__bg{top:0;left:0;background-color:#434343;background-size:cover;background-position:50% 50%;-webkit-filter:brightness(.4)}.header-image+.post__heading{top:0;left:0;margin-top:calc(39vh);text-align:center;color:#fff;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:400;backface-visibility:hidden}.header-image+.post__heading>h1,.header-image+.post__heading>h3{color:#fff;margin-top:0}.header-image+.post__heading+.post__content{margin-top:73vh;padding-top:54px}.post__author,.post__moment{margin-bottom:27px}.post-list li:before{content:''}@media only screen and (max-width:754px){.post-list li{margin-left:0}}.post-list__heading{margin:0}.post-list__preview{margin-bottom:54px}.draft-text{color:#c40000;font-size:.72222rem}.prevnext{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin:54px 0 0;left:0;position:absolute;z-index:200}@media only screen and (max-width:549px){.draft-text,.post__author,.post__moment{padding:0 13.5px}.prevnext{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}}@media only screen and (max-width:palm){.draft-text,.post__author,.post__moment{padding:0 13.5px}.prevnext{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}}.prevnext__next,.prevnext__prev{position:relative;width:50%;color:#fff;padding:27px;-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-ms-flex-line-pack:center;align-content:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:center;height:324px;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.front__buttons,.prevnext__next,.prevnext__prev{-webkit-box-direction:normal;-webkit-align-content:center}@media only screen and (max-width:549px){.prevnext__next,.prevnext__prev{width:100vw}}@media only screen and (max-width:palm){.prevnext__next,.prevnext__prev{width:100vw}}.prevnext__bg{position:absolute;width:100%;height:100%;z-index:0;filter:brightness(.4)}.prevnext__info{font-size:.72222rem;z-index:1}.prevnext__link{color:#fff;font-weight:700;z-index:1}.post__content .prevnext,.post__content .prevnext__bg{width:100%}.front__buttons{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-ms-flex-line-pack:center;align-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-top:27px}.front__buttons>.btn{margin:0 13.5px 27px}.front__buttons>.btn:last-child{margin-right:0}.front__buttons>.btn:first-child{margin-left:0}@media only screen and (max-width:549px){.front__buttons>.btn{width:calc(100% - 54px);margin-left:0;margin-right:0}}@media only screen and (max-width:palm){.front__buttons>.btn{width:calc(100% - 54px);margin-left:0;margin-right:0}}.front__latestpost{margin-top:27px;font-weight:600;color:#fff}.front__latestpost:hover{color:#cff9fd}.vertical-margin{margin-top:27px;margin-bottom:27px}.vertical-margin--double{margin-top:54px;margin-bottom:54px}.vertical-margin--half{margin-top:13.5px;margin-bottom:13.5px}.horizontal-margin{margin-left:27px;margin-right:27px}.horizontal-margin--double{margin-left:54px;margin-right:54px}.horizontal-margin--half{margin-left:13.5px;margin-right:13.5px}.top-margin{margin-top:27px}.top-margin--double{margin-top:54px}.top-margin--half{margin-top:13.5px}.bottom-margin,.h1-size{margin-bottom:27px}.bottom-margin--double{margin-bottom:54px}.bottom-margin--half{margin-bottom:13.5px}.left-margin{margin-left:27px}.left-margin--double{margin-left:54px}.left-margin--half{margin-left:13.5px}.right-margin{margin-right:27px}.right-margin--double{margin-right:54px}.right-margin--half{margin-right:13.5px}.no-margin{margin:0}.main-wrapper{padding-top:27px}.no-show{display:none}.center{text-align:center}.left{text-align:left}.right{text-align:right}.flex-center{-ms-flex-item-align:center;align-self:center}.sticky{position:-webkit-sticky;position:sticky;top:10px;z-index:200}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}input[type=date]::-webkit-calendar-picker-indicator,input[type=date]::-webkit-clear-button,input[type=date]::-webkit-inner-spin-button{display:none}.input,input[type=date]{text-align:center;-webkit-appearance:none;height:54px;border:none}h1,h2,h3,h4,h5,h6,li{margin-bottom:.5em}.chapter__wrapper,footer .footer-wrapper{-webkit-box-direction:normal;-webkit-box-orient:horizontal}.header-extra,.next-page,.previous-page{font-family:"Avenir Next","Helvetica Neue",sans-serif}.chapter__wrapper,.post__author,footer .footer-wrapper{-webkit-box-direction:normal}body{background-image:url("/assets/img/cream_dust.png")}p,pre{margin-bottom:1.5em}.prevnext-pages,h1,h2,h3,h4,h5,h6{letter-spacing:1px}h1 code,h2 code,h3 code,h4 code,h5 code,h6 code{background-color:inherit;font-size:inherit}.header-anchor{display:block;position:relative;top:-5vh}ul ul{margin-left:1em}li{padding-right:2em}ul ul li{margin-bottom:.25em}pre{padding:.5em .5em .5em 1em}pre code{line-height:1.5;font-size:.8rem}code{padding:.25em}code .token.operator{background-color:initial;font-weight:700}footer .footer-wrapper{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;background:url("/assets/img/dust.png") #fafafa}footer .footer-wrapper>*{margin:1em;padding:1em;max-width:100%}footer .footer-wrapper .footer-blog ul,footer .footer-wrapper .footer-contact form,footer .footer-wrapper .footer-social ul{margin:auto}footer .footer-wrapper .footer-contact form label,footer .footer-wrapper .footer-contact form label input,footer .footer-wrapper .footer-contact form label span,footer .footer-wrapper .footer-contact form label textarea{display:block}footer .footer-wrapper .footer-contact form label input,footer .footer-wrapper .footer-contact form label textarea{min-width:15em;margin-bottom:.5em}footer .footer-wrapper .footer-contact .submit-container{clear:both;margin-top:1em}footer .footer-wrapper .footer-contact .submit-container input{float:right}.frontpage .front-text-wrapper{margin-top:2em;margin-bottom:2em;max-width:100%;text-shadow:0 0 .1em #000}.frontpage .front-text-wrapper .front__buttons .btn{margin-bottom:.5em}.frontpage .front-text-wrapper .front__buttons .btn--inverted:hover{text-shadow:initial}.frontpage .front-header,.frontpage .front-motto{color:#fff;margin-bottom:.5em}.frontpage .front-header{margin-top:0;margin-bottom:0}.frontpage .front-motto{margin-top:0}.frontpage .front__heading{background:#323232;text-align:center}.frontpage .react-image{margin-left:1em;margin-right:1em;width:100px;height:100px;float:right}.frontpage .kanban-image{height:initial}.frontpage .front-cover{width:255px;box-shadow:0 0 1em .02em rgba(0,0,0,.5);margin:0 auto 1em}.frontpage .post--front{width:auto}.frontpage .post__sidebar{margin:1em}@media screen and (min-width:1150px){.frontpage .front-cover{margin-top:1em}.frontpage .post--front{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.frontpage .post__content{margin-right:2em}.frontpage .post__sidebar{max-width:250px;-webkit-box-flex:1;-webkit-flex:1 0 250px;-ms-flex:1 0 250px;flex:1 0 250px;font-size:80%}.frontpage .post__sidebar ul>li:before{content:''}}.frontpage .front-cover-wrapper{vertical-align:middle}.frontpage .author-photo,.frontpage .testimonial-photo{clear:both;float:right;margin-left:.5em;border-radius:50px;width:100px;height:100px}.frontpage .front__latestpost a{color:#fff}.frontpage .front__latestpost a:hover{color:#76E5EF}.post__heading{line-height:1}.nav{padding:0;top:0;bottom:auto;position:fixed;background:#fff;z-index:1000}.header-image,.header-image+.post__heading{z-index:0}.post__content img{position:inherit;max-width:100%;width:100vw}.post__content .center-image{display:block;margin:0 auto;max-width:initial;width:initial}.post-list__demo,.post__meta{margin-bottom:1em}.post__content .author{clear:both;float:right;margin-left:.5em;border-radius:50px;width:100px;height:100px}.post__meta{margin-top:1em}.header-image+.post__heading{padding-left:1em;padding-right:1em;margin-top:calc(40vh)}.header-image{height:78vh}.header-image+.post__heading+.post__content{margin-top:75vh;padding-top:5vh}.chapter__wrapper{display:-webkit-flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin-top:78vh}.chapter__wrapper .toc-nav__wrapper{margin:1em;max-width:250px}.chapter__wrapper .toc-nav__wrapper .part{margin-top:.5em}.chapter__wrapper .toc-nav__wrapper .chapter{margin-left:1em}.chapter__wrapper .toc-nav__wrapper .chapter:first-child{margin-left:inherit}.post__content,.post__content div,.post__content h1,.post__content h2,.post__content h3,.post__content h4,.post__content h5,.post__content h6,.post__content ol,.post__content p,.post__content pre,.post__content ul{max-width:100%}@media screen and (min-width:1150px){.chapter__wrapper .post__content{min-height:120%}.post__heading{font-size:54px}}@media screen and (max-width:1150px){.post__content,.post__content div,.post__content h1,.post__content h2,.post__content h3,.post__content h4,.post__content h5,.post__content h6,.post__content ol,.post__content p,.post__content pre,.post__content ul{margin:.5em;width:inherit}.post__content pre{word-break:break-all}.chapter__wrapper{-webkit-flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}.header-extra{font-size:small;position:absolute;top:0;left:0;margin-top:calc(70vh);margin-left:calc(5vh);z-index:400;-webkit-backface-visibility:hidden;backface-visibility:hidden}.header-extra a{color:#ddd}.header-anchor-select{opacity:0;margin-left:.25em;-webkit-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out}h1:hover .header-anchor-select,h2:hover .header-anchor-select,h3:hover .header-anchor-select,h4:hover .header-anchor-select{opacity:1;-webkit-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out}.next-page,.previous-page{background:#fff;text-transform:uppercase;text-rendering:optimizeLegibility;position:fixed;bottom:20px}.previous-page{left:10px}.next-page{right:10px}.previous-page::before{content:"\2190"}.next-page::after{content:"\2192"}.nav{left:0}@media (max-width:550px){.post__heading h1{margin:0}.prevnext-pages{position:inherit;height:auto;top:auto;left:auto;right:auto}.next-page,.previous-page{padding:5px;background:#fff;top:inherit}.previous-page{bottom:50px}.next-page{bottom:10px}.nav{padding-top:.5em}.nav__wrapper{z-index:1000;background:#fff}.frontpage,.frontpage .post.post--front{max-width:100%}}.github-fork-ribbon-wrapper.ribbon{position:fixed}blockquote{background:#000;color:#fff;padding:.5em;margin-bottom:1em;border:1px solid rgba(0,0,0,.03);font-family:sans-serif;font-style:inherit;font-size:80%;border-radius:7px}blockquote p{margin:0}blockquote.tip,blockquote.warning{color:#696969;font-size:medium;padding:1em;margin-bottom:1em}blockquote.tip{background-color:#F5FFFB}blockquote.warning{background-color:#FFFFFA}.post__author{-webkit-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}