@import "functions";
@import "vars";
@import "styles";

.header-anchor {
  display: block;
  position: relative;
  top: -10vh;
}

pre {
  padding: 0.5em;
  padding-left: 1em;
}
pre code {
  line-height: 1.5;
  font-size: 0.8rem;
}

footer .footer-wrapper {
  background: #fafafa;
  background-image: url('/assets/img/dust.png');
  overflow: auto;

  .footer-content-wrapper {
    margin: 0 auto;
    width: 50%;
  }
  @include media-query(portable) {
    .footer-content-wrapper {
      width: 100%;
    }
  }

  .footer-social {
    float: left;

    margin-left: 2em;

    ul {
      margin: auto;
    }
  }

  .footer-blog {
    float: left;

    ul {
      margin: auto;
    }
  }
}

.header-image, .header-image + .post__heading {
  z-index: 0; /* make sure they are behind nav */
}
.header-image + .post__heading {
  padding-left: 1em;
  padding-right: 1em;
}

.post {
  margin: 0 auto;
}

/* make sure post content isn't centered (probably should remove that default) */
.post__content {
  justify-content: initial;
}

.post__content img {
  position: inherit;
  max-width: 100%;
  width: 100vw;
}
.post__content .center-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: initial;
  height: auto;
}

.post__content .author {
  clear: both;
  float: right;
  margin-left: 0.5em;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.post-list__demo {
  margin-bottom: 1em
}

.post__meta {
  margin-top: 1em;
  margin-bottom: 1em;
}

.header-image + .post__heading {
  margin-top: calc(40vh);
}
.header-image {
  height: 78vh;
}
.header-image + .post__heading + .post__content {
  margin-top: 80vh;
  padding-top: 5vh;
}

/* chapters */
.chapter__wrapper {
  margin-top: 78vh;

  .toc-nav__wrapper {
    margin: 1em;
    padding: 0.5em;

    background: rgba(0,0,0,0.01);
    max-width: 250px;

    .toc-nav--header {
      margin-top: 0;
    }

    .part {
      margin-top: 0.5em;
    }

    .chapter {
      margin-left: 1em;
    }

    .chapter:first-child {
      margin-left: inherit;
    }
  }

  .chapter {
    max-width: 700px;

    .post__meta {
      background: rgba(0,0,0,0.01);
      padding: 0.5em;
    }

    .post__meta > * {
      margin-right: 1em;
    }
  }

  @media screen and (min-width: 1150px) {
    .post__content {
      /* XXX: force min height to avoid cropping with the footer. not ideal */
      min-height: 150%;
    }
  }
}

@media screen and (max-width: 1150px) {
  .post__content, .post__content h1,.post__content h2, .post__content h3, .post__content h4,
  .post__content h5, .post__content h6, .post__content p, .post__content ol,
  .post__content ul, .post__content div, .post__content pre, .post__content blockquote, .post__content form {
    margin: 0.5em;
  }

  .post__content pre {
    /* low resolutions need this */
    word-break: break-all;
  }
}

@media screen and (min-width: 1150px) {
  .post__heading {
    font-size: 54px;
  }
}

.header-extra {
  font-size: small;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(70vh);
  margin-left: calc(5vh);
  z-index: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.header-extra a {
  color: #ddd;
}

.header-anchor-select {
  display: none;
  margin-left: 0.25em;
}

.header:active .header-anchor-select,
.header:hover .header-anchor-select {
  display: inline;
}

.previous-page, .next-page {
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  top: calc(50%);
  position: fixed;
}
.previous-page {
  left: 1em;
}
.next-page {
  right: 1em;
}

@media (max-width: 1150px) {
  .next-page, .previous-page {
    // hide next/prev on smaller resolutions for now
    border: none;
  }
}
@media (max-width: 550px) {
  .post__heading h1 {
    margin: 0;
  }

  .prevnext-pages {
    position: inherit;
    height: auto;
    top: auto;
    left: auto;
    right: auto;
  }

  .next-page, .previous-page {
    padding: 0.1em;
    background: white;
    top: inherit;
    bottom: 0.5em;
    max-width: 40%;

    // hide next/prev on mobile for now
    border: none;
  }

  .chapter-content {
    padding: 0;
  }

  #disqus_thread {
    margin: 1em;
  }
}

.github-fork-ribbon-wrapper.ribbon {
  position: fixed;
}

// blockquote tweaks
// defaults to black/white!!!
blockquote {
  background: black;
  color: white;

  padding: 0.5em;
  margin-bottom: 1em;

  border: 1px solid rgba(0,0,0,0.03);

  font-family: sans-serif;
  font-style: inherit;
  font-size: 80%;

  border-radius: 7px;

  p {
      margin: 0;
  }

  &.tip {
    color: #696969;

    font-size: medium;
    background-color: #F5FFFB;
    padding: 1em;
    margin-bottom: 1em;
  }

  &.warning {
    color: #696969;

    font-size: medium;
    background-color: #FFFFFA;
    padding: 1em;
    margin-bottom: 1em;
  }
}

/* new prevnext - TODO: push elsewhere */
.new-prevnext {
  min-height: 4em;

  letter-spacing: 1px;

  .new-prevnext__bg {
      height: 100%;
  }

  .new-prevnext__next,
  .new-prevnext__prev {
    position: relative;
    width: 50%;
    color: #fff;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    padding: 27px;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .new-prevnext__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #434343;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
    filter: brightness(0.4);
  }
  .new-prevnext__info, .new-prevnext__link {
    z-index: 1;

    padding: 0.5em;
  }
}

/* leanpub specific */
.leanpub-insert, .leanpub-delete {
  line-height: initial;
}

.leanpub-insert {
  display: inline-block;
  font-weight: bold;
}

.leanpub-delete {
  display: inline-block;
  text-decoration: line-through;
}

/* social */
.social-form {
  .social-input-container, .social-subscribe-container {
    display: inline;
  }

  .social-subscribe-container {
    margin-left: 2em;
  }
}