body {
    background-image: url('/assets/img/cream_dust.png');
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}

p, pre {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}
.prevnext-pages {
    letter-spacing: 1px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background-color: inherit;
    font-size: inherit;
}

.header-anchor {
    display: block;
    position: relative;
    top: -10vh;
}

ul ul {
    margin-left: 1em;
}

li {
    margin-bottom: 0.5em;
    padding-right: 2em;
}

ul ul li {
    margin-bottom: 0.25em;
}

pre {
    padding: 0.5em;
    padding-left: 1em;
}
pre code {
    line-height: 1.5;
    font-size: 0.8rem;
}

/* prism coy */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7D8B99;
}

.token.punctuation {
    color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #1990b8;
}

.token.regex,
.token.important {
    color: #e90;
}

.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.important {
    font-weight: normal;
}

.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.namespace {
    opacity: .7;
}

@media screen and (max-width: 767px) {
    pre[class*="language-"]:before,
    pre[class*="language-"]:after {
        bottom: 14px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
    color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
    padding-left: 0;
}

pre[class*="language-"].line-numbers code {
    padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
    left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
pre[data-line] code {
    position: relative;
    padding-left: 4em;
}
pre .line-highlight {
    margin-top: 0;
}

code {
    padding: 0.25em;
}
code .token.operator {
    background-color: initial;
    font-weight: bold;
}

footer .footer-wrapper{
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    background: #fafafa;
    background-image: url('/assets/img/dust.png');

    > * {
        margin: 1em;
        padding: 1em;

        max-width: 100%;
    }

    .footer-social {
        ul {
            margin: auto;
        }
    }

    .footer-blog {
        ul {
            margin: auto;
        }
    }

    .footer-contact {
        form {
            margin: auto;

            label {
                display: block;

                span, input, textarea {
                    display: block;
                }

                input, textarea {
                    min-width: 15em;

                    margin-bottom: 0.5em;
                }
            }
        }


        .submit-container {
            clear: both;

            margin-top: 1em;

            input {
                float: right;
            }
        }
    }
}

.frontpage {
    .front-text-wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
        max-width: 100%;
        text-shadow: 0 0 0.1em rgba(0,0,0,1);

        .front__buttons {
            .btn {
                margin-bottom: 0.5em;
            }

            .btn--inverted {
                &:hover {
                    text-shadow: initial;
                }
            }
        }
    }

    .front-header, .front-motto {
        color: white;
        margin-bottom: 0.5em;
    }

    .front-header {
        margin-top: 0;
        margin-bottom: 0;
    }

    .front-motto {
        margin-top: 0;
    }

    .front__heading {
        background: #323232;
        text-align: center;
    }

    .react-image {
        margin-left: 1em;
        margin-right: 1em;
        width: 100px;
        height: 100px;
        float: right;
    }

    .kanban-image {
        height: initial;
    }

    .front-cover {
        width: 255px;
        box-shadow: 0 0 1em 0.02em rgba(0,0,0,0.5);
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .post--front {
        width: auto;
    }

    .post__sidebar {
        margin: 1em;
    }

    @media screen and (min-width: 1150px) {
        .front-cover {
            margin-top: 1em;
        }

        .post--front {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .post__content {
            margin-right: 2em;
        }
        .post__sidebar {
            max-width: 250px;
            flex: 1 0 250px;
            font-size: 80%;

            ul > li:before {
                content: '';
            }
        }
    }

    .front-cover-wrapper {
        vertical-align: middle;
    }

    .author-photo, .testimonial-photo {
        clear: both;
        float: right;
        margin-left: 0.5em;
        border-radius: 50px;
        width: 100px;
        height: 100px;
    }
}

/* TODO: push to base template */
.post__heading {
    line-height: 1;
}

.nav {
    padding: 0;
    top: 0;
    bottom: auto;
    position: fixed;
    background: white;
    z-index: 1000;
}
.header-image, .header-image + .post__heading {
    z-index: 0; /* make sure they are behind nav */
}
.header-image + .post__heading {
    padding-left: 1em;
    padding-right: 1em;
}

.post__content img {
    position: inherit;
    max-width: 100%;
    width: 100vw;
}
.post__content .center-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: initial;
    height: auto;
}

.post__content .author {
    clear: both;
    float: right;
    margin-left: 0.5em;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.post-list__demo {
    margin-bottom: 1em
}

.post__meta {
    margin-top: 1em;
    margin-bottom: 1em;
}

.header-image + .post__heading {
    margin-top: calc(40vh);
}
.header-image {
    height: 78vh;
}
.header-image + .post__heading + .post__content {
    margin-top: 80vh;
    padding-top: 5vh;
}

/* chapters */
.chapter__wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    margin-top: 78vh;

    .toc-nav__wrapper {
        margin: 1em;
        padding: 0.5em;

        background: rgba(0,0,0,0.01);
        max-width: 250px;

        .toc-nav--header {
            margin-top: 0;
        }

        .part {
            margin-top: 0.5em;
        }

        .chapter {
            margin-left: 1em;
        }

        .chapter:first-child {
            margin-left: inherit;
        }
    }

    .chapter {
        max-width: 700px;

        .post__meta {
            background: rgba(0,0,0,0.01);
            padding: 0.5em;
        }

        .post__meta > * {
            margin-right: 1em;
        }
    }

    @media screen and (min-width: 1150px) {
        .post__content {
            /* XXX: force min height to avoid cropping with the footer. not ideal */
            min-height: 150%;
        }
    }
}

@media screen and (max-width: 1150px) {
    .post__content, .post__content h1,.post__content h2, .post__content h3, .post__content h4,
    .post__content h5, .post__content h6, .post__content p, .post__content ol,
    .post__content ul, .post__content div, .post__content pre, .post__content blockquote, .post__content form {
        margin: 0.5em;
    }

    .post__content pre {
        /* low resolutions need this */
        word-break: break-all;
    }
}

@media screen and (min-width: 1150px) {
    .post__heading {
        font-size: 54px;
    }
}

@media screen and (max-width: 1150px) {
    .chapter__wrapper {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.header-extra {
    font-size: small;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: calc(70vh);
    margin-left: calc(5vh);
    z-index: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.header-extra a {
    color: #ddd;
}

.header-anchor-select {
    display: none;
    margin-left: 0.25em;
}

.header:active .header-anchor-select,
.header:hover .header-anchor-select {
    display: inline;
}

.previous-page, .next-page {
    background: white;

    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    position: fixed;
    bottom: 20px;
}

.previous-page {
    left: 10px;
}

.next-page {
    right: 10px;
}

.previous-page::before {
    content: "\2190";
}

.next-page::after {
    content: "\2192";
}

.nav {
    left: 0;
}

@media (max-width: 550px) {
    .post__heading h1 {
        margin: 0;
    }

    .prevnext-pages {
        position: inherit;
        height: auto;
        top: auto;
        left: auto;
        right: auto;
    }

    .next-page, .previous-page {
        padding: 0.1em;
        background: white;
        top: inherit;
        bottom: 0.5em;
        max-width: 40%;
    }

    .nav {
        padding-top: 0.5em;
    }

    .nav__wrapper {
        z-index: 1000;
        background: white;
    }

    .frontpage, .frontpage .post.post--front {
        max-width: 100%;
    }

    .chapter-content {
        padding: 0;
    }

    .post__content, .post__content h1,.post__content h2, .post__content h3, .post__content h4,
    .post__content h5, .post__content h6, .post__content p, .post__content ol,
    .post__content ul, .post__content div, .post__content pre {
        margin: 0;
        margin-bottom: 0.5em;
        max-width: 100%;
        width: 100vw; /* cannot be in pixels as otherwise max-width fails!!! */
    }

    /* XXX */
    #disqus_thread {
        margin: 1em;
    }
}

.github-fork-ribbon-wrapper.ribbon {
  position: fixed;
}

// blockquote tweaks
// defaults to black/white!!!
blockquote {
    background: black;
    color: white;

    padding: 0.5em;
    margin-bottom: 1em;

    border: 1px solid rgba(0,0,0,0.03);

    font-family: sans-serif;
    font-style: inherit;
    font-size: 80%;

    border-radius: 7px;

    p {
        margin: 0;
    }

    &.tip {
        color: #696969;

        font-size: medium;
        background-color: #F5FFFB;
        padding: 1em;
        margin-bottom: 1em;
    }

    &.warning {
        color: #696969;

        font-size: medium;
        background-color: #FFFFFA;
        padding: 1em;
        margin-bottom: 1em;
    }
}

// blog tweaks
.post__author {
    flex-direction: row;
}

// XXX: hot fix
.post__content {
    max-width: 700px;
}

// XXX: reset at default?
.front__latestpost {
    &:hover {
        color: inherit;
    }
}
