body {
    background-image: url('/assets/img/cream_dust.png');
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}

p, pre {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}
.prevnext-pages {
    letter-spacing: 1px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background-color: inherit;
    font-size: inherit;
}

.header-anchor {
    display: block;
    position: relative;
    top: -5vh;
}

ul ul {
    margin-left: 1em;
}

li {
    margin-bottom: 0.5em;
    padding-right: 2em;
}

ul ul li {
    margin-bottom: 0.25em;
}

pre {
    padding: 0.5em;
    padding-left: 1em;
}

pre code {
    line-height: 1.5;
    font-size: 0.8rem;
}

code {
    padding: 0.25em;
}

footer .footer-wrapper{
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    background: #fafafa;
    background-image: url('/assets/img/dust.png');

    > * {
        margin: 1em;
        padding: 1em;

        max-width: 100%;
    }

    .footer-social {
        ul {
            margin: auto;
        }
    }

    .footer-blog {
        ul {
            margin: auto;
        }
    }

    .footer-contact {
        form {
            margin: auto;

            label {
                display: block;

                span, input, textarea {
                    display: block;
                }

                input, textarea {
                    min-width: 15em;

                    margin-bottom: 0.5em;
                }
            }
        }


        .submit-container {
            clear: both;

            margin-top: 1em;

            input {
                float: right;
            }
        }
    }
}

.frontpage {
    .front-text-wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
        max-width: 100%;
        text-shadow: 0 0 0.1em rgba(0,0,0,1);

        .front__buttons {
            .btn {
                margin-bottom: 0.5em;
            }

            .btn--inverted {
                &:hover {
                    text-shadow: initial;
                }
            }
        }
    }

    .front-header, .front-motto {
        color: white;
        margin-bottom: 0.5em;
    }

    .front-header {
        margin-top: 0;
        margin-bottom: 0;
    }

    .front-motto {
        margin-top: 0;
    }

    .front__heading {
        background: #323232;
        text-align: center;
    }

    .react-image {
        margin-left: 1em;
        margin-right: 1em;
        width: 100px;
        height: 100px;
        float: right;
    }

    .kanban-image {
        height: initial;
    }

    .front-cover {
        width: 255px;
        box-shadow: 0 0 1em 0.02em rgba(0,0,0,0.5);
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .post--front {
        width: auto;
    }

    @media screen and (min-width: 1150px) {
        .front-cover {
            margin-top: 1em;
        }

        .post--front {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .post__content {
            margin-right: 2em;
        }
        .post__sidebar {
            max-width: 250px;
            flex: 1 0 250px;
            font-size: 80%;

            ul > li:before {
                content: '';
            }
        }
    }

    .front-cover-wrapper {
        vertical-align: middle;
    }

    .author-photo {
        clear: both;
        float: right;
        margin-left: 0.5em;
        border-radius: 50px;
        width: 100px;
        height: 100px;
    }

    .front__latestpost a {
        color: white;
    }

    .front__latestpost a:hover {
        color: #76E5EF;
    }
}

/* TODO: push to base template */
.post__heading {
    line-height: 1;
}

.nav {
    padding: 0;
    top: 0;
    bottom: auto;
    position: fixed;
    background: white;
    z-index: 1000;
}
.header-image, .header-image + .post__heading {
    z-index: 0; /* make sure they are behind nav */
}

.post__content img {
    position: inherit;
    width: 100%;
}

.post-list__demo {
    margin-bottom: 1em
}

.post__meta {
    margin-top: 1em;
    margin-bottom: 1em;
}

.header-image + .post__heading {
    margin-top: calc(40vh);
}
.header-image {
    height: 78vh;
}
.header-image + .post__heading + .post__content {
    margin-top: 75vh;
    padding-top: 5vh;
}

/* chapters */
.chapter__wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    margin-top: 78vh;

    .toc-nav__wrapper {
        margin: 1em;

        max-width: 250px;

        .part {
            margin-top: 0.5em;
        }

        .chapter {
            margin-left: 1em;
        }

        .chapter:first-child {
            margin-left: inherit;
        }
    }
}

@media screen and (min-width: 1150px) {
    .post__heading {
        font-size: 54px;
    }
}

@media screen and (max-width: 1150px) {
    .chapter__wrapper {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.header-extra {
    font-size: small;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: calc(70vh);
    margin-left: calc(5vh);
    z-index: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.header-extra a {
    color: #ddd;
}

.header-anchor-select {
    opacity: 0;
    margin-left: 0.25em;
    transition: opacity .25s ease-in-out;
}

h1:hover .header-anchor-select,
h2:hover .header-anchor-select,
h3:hover .header-anchor-select,
h4:hover .header-anchor-select {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.previous-page, .next-page {
    background: white;

    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    position: fixed;
    bottom: 20px;
}

.previous-page {
    left: 10px;
}

.next-page {
    right: 10px;
}

.previous-page::before {
    content: "\2190";
}

.next-page::after {
    content: "\2192";
}

.nav {
    left: 0;
}

@media (max-width: 550px) {
    .post__heading h1 {
        margin: 0;
    }

    .prevnext-pages {
        position: inherit;
        height: auto;
        top: auto;
        left: auto;
        right: auto;
    }

    .next-page, .previous-page {
        padding: 5px;
        background: white;
        top: inherit;
    }

    .previous-page {
        bottom: 50px;
    }

    .next-page {
        bottom: 10px;
    }

    .nav {
        padding-top: 0.5em;
    }

    .nav__wrapper {
        z-index: 1000;
        background: white;
    }

    .frontpage, .frontpage .post.post--front {
        max-width: 100%;
    }
}

.github-fork-ribbon-wrapper.ribbon {
  position: fixed;
}

// blockquote tweaks
// defaults to black/white!!!
blockquote {
    background: black;
    color: white;

    padding: 0.5em;
    margin-bottom: 1em;

    border: 1px solid rgba(0,0,0,0.03);

    font-family: sans-serif;
    font-style: inherit;
    font-size: 80%;

    border-radius: 7px;

    p {
        margin: 0;
    }

    &.tip {
        color: #696969;

        font-size: medium;
        background-color: #F5FFFB;
        padding: 1em;
        margin-bottom: 1em;
    }

    &.warning {
        color: #696969;

        font-size: medium;
        background-color: #FFFFFA;
        padding: 1em;
        margin-bottom: 1em;
    }
}
