<footer
  class="py-8 font-light bg-gradient-to-br from-emerald-100 to-purple-200"
>
  <div class="flex flex-col container mx-auto gap-4">
    <section
      class="md:mx-auto px-4 sm:px-0 grid grid-rows-3 md:grid-rows-none md:grid-cols-4 gap-4 md:gap-8 w-full md:max-w-3xl"
    >
      <div class="flex flex-col">
        <h2>About</h2>
        <div class="font-thin">
          TODO
        </div>
      </div>
      <div class="flex flex-col">
        <h2>Navigation</h2>
        <div class="flex flex-col gap-2 font-thin">
          <Navigation />
        </div>
      </div>
      <div class="flex flex-col">
        <h2>Social</h2>
        <div class="flex flex-col gap-2 font-thin">
          <SiteLink href="https://buttondown.email/SurviveJS">Mailing list</SiteLink>
          <SiteLink href="https://github.com/survivejs/">GitHub</SiteLink>
          <SiteLink href="http://goo.gl/forms/OWdGIOdHm9">Contact</SiteLink>
          <SiteLink href="atom.xml">RSS</SiteLink>
        </div>
      </div>
      <div class="flex flex-col">
        <h2>Credits</h2>
        <Markdown type="div" class="font-thin"
          >SurviveJS is authored by [Juho
          Vepsäläinen](https://github.com/bebraw).
        </Markdown>
      </div>
    </section>
  </div>
</footer>
